

//Mobile Vertical
$bg-color: #313440 ;
$card-color: #FFD700;

//Galaxy ((Note 3, 2), S3, S5),
// Pixel(2, 2XL),
// iPhone(6, 6+,7, 7+,8, 8+, X)
@media all and (max-width: 440px) {

  .profile-card header h1 {
    padding: 5% 0 0 7%;
    font-size: 2.4em;
  }

  .profile-card header h2 {
    margin-top: -35px;
    font-size: 0.98em;
    font-weight: lighter;
    padding-left: 7%;

  }
  @-webkit-keyframes materia {
    0% {
      background: $card-color;
    }
    50% {
      -webkit-border-radius: 4px;
    }
    100% {
      width: 310px;
      height: 300px;
      -webkit-border-radius: 2px;
    }
  }
}
//iPhone 4/5/SE
@media screen and (max-width: 320px) {
  .profile-card header h1 {
    font-size: 1.83em;
  }

  .profile-card header h2 {
    margin-top: -28px;
    font-size: 0.75em;

  }
  @-webkit-keyframes materia {
    0% {
      background: $card-color;
    }
    50% {
      -webkit-border-radius: 2px;
    }
    100% {
      width: 210px;
      height: 220px;
      -webkit-border-radius: 2px;
    }
  }
}
//  Maximum width
@media screen and (max-width: 319px) {
  .profile-card header h1, h2{
    opacity: 0;
  }
  @-webkit-keyframes materia {
    100% {
      background: gold;
    }
  }
}

@media all and (min-height: 320px) {

  .profile-card header h1 {
    padding: 10% 0 0 7%;
    font-size: 1.9em;
    line-height: 1;
  }

  .profile-card header h2 {
    margin-top: -22px;
    font-size: 0.77em;
    font-weight: lighter;
    padding-left: 7%;
  }
  @-webkit-keyframes materia {
    0% {
      background: $card-color;
    }
    50% {
      -webkit-border-radius: 2px;
    }
    100% {
      width: 210px;
      height: 220px;
      -webkit-border-radius: 2px;
    }
  }
}

@media all and (max-height: 411px) {
  @-webkit-keyframes materia {
    0% {
      background: $card-color;
    }
    50% {
      -webkit-border-radius: 2px;
    }
    100% {
      //background: red;
      width: 240px;
      height: 240px;
      -webkit-border-radius: 2px;
    }
  }
}