$bg-color: #313440 ;
$card-color: #FFD700;

// {'min': '576px', 'max': '767px'}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .profile-card header h1 {
    line-height: 1;
    padding: 8% 0 0 7%;
    font-size: 2em;
  }

  .profile-card header h2 {
    margin-top: -28px;
    font-size: 0.8em;
    font-weight: lighter;
    padding-left: 7%;
  }

  .profile-social-links {
    display: flex;
    background: white;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 22px;
    margin-top: 34%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  } li {
      list-style: none;
      padding-right: 30px;
    } a .fa-2x {
        font-size: 22px;
      }

  @-webkit-keyframes materia {
    0% {
      background: $card-color;
    }
    50% {
      -webkit-border-radius: 4px;
    }
    100% {
      width: 220px;
      height: 220px;
      -webkit-border-radius: 2px;
    }
  }
}
