$bg-color: #313440 ;
$card-color: #FFD700;


@media screen and (max-width: 319px) {
  .profile-card header h1, h2{
    opacity: 0;
  }
  @-webkit-keyframes materia {
    100% {
      background: gold;
    }
  }
}

@media all and (min-height: 320px) {

  .profile-card header h1 {
    padding: 10% 0 0 7%;
    font-size: 1.9em;
    line-height: 1;
  }

  .profile-card header h2 {
    //background: blueviolet;
    margin-top: -22px;
    font-size: 0.77em;
    font-weight: lighter;
    padding-left: 7%;
  }

  //.profile-social-links {
  //  background: white;
  //}
  //
  //.profile-social-links li a .fa-2x {
  //  font-size: 20px;
  //  padding-top: 5px;
  //}
  //
  //.profile-social-links li p {
  //  font-size: 20px;
  //}

  @-webkit-keyframes materia {
    0% {
      background: $card-color;
    }
    50% {
      -webkit-border-radius: 2px;
    }
    100% {
      width: 240px;
      height: 240px;
      -webkit-border-radius: 2px;
    }
  }
}

//iPhone 5/SE/6/7/8 Horizontal View
@media all and (max-height: 411px) {
  .profile-social-links {
    background: white;

  }

  .profile-social-links li a .fa-2x {
    font-size: 20px;
    padding-top: 5px;
  }
  .profile-social-links li p {
    display: none;
  }

  @-webkit-keyframes materia {
    0% {
      background: $card-color;
    }
    50% {
      -webkit-border-radius: 2px;
    }
    100% {
      width: 240px;
      height: 240px;
      -webkit-border-radius: 2px;
    }
  }
}