@import "./mobile";
@import "./main";

$bg-color: #313440 ;
$card-color: #FFD700;



//body:before {
//  content: "";
//  height: 0;
//  padding: 0;
//  position: absolute;
//  z-index: 2;
//  display: block;
//  -webkit-border-radius: 20%;
//  border-radius: 20%;
//  -webkit-transform: translate(-50%, -50%);
//  transform: translate(-20%, -20%);
//  -webkit-animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
//  animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
//}
//


.profile-social-links {
  //border: blue solid 2px;
  width: 100%;
  //position: absolute;
  //bottom: 0;
  display: inline-block;
  //float: bottom;
  margin: 30% 0 0 0;
  padding: 0px 15px;
  text-align: center;
  //opacity: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

.profile-social-links li {
  //border: green solid 2px;
  //border-right: 1px solid $bg-color;
  list-style: none;
  //text-decoration: none;
  //margin: 0px 0px 0px 0px;
  //padding: 5px;
  float: left;
  width: 18.5%;
  text-align: center;
}

.profile-social-links li .link {
  text-decoration: none;
  //background: red;
  //display: inline-block;
  //color: red;
  //width: 30px;
  //height: 24px;
  //padding: 6px;
  //position: relative;
  //overflow: hidden!important;
  //-webkit-border-radius: 50%;
  //border-radius: 50%;
  -webkit-animation: moveIn 1s 5.1s ease forwards;
  animation: moveIn 1s 5.1s ease forwards;
}
p {
  color: $bg-color;
  //padding: 0 0 0 10px;
  margin: 0;
  //border-left: 1px solid $bg-color;
  font-size: 25px;
}
.profile-social-links li .link .icon {
  position: relative;
  //z-index: 1;
}

// Dot Bounce Motion
//@-webkit-keyframes puff {
//  //0% {
//  //  top: 100%;
//  //  height: 0;
//  //  padding: 0;
//  //}
//  //100% {
//  //  top: 50%;
//  //  height: 100%;
//  //  padding: 0 100%;
//  //}
//}

//@keyframes puff {
//  //0% {
//  //  top: 100%;
//  //  height: 0;
//  //  padding: 0;
//  //}
//  //100% {
//  //  top: 50%;
//  //  height: 100%;
//  //  padding: 0 100%;
//  //}
//}

//@-webkit-keyframes borderRadius {
//  0% {
//    -webkit-border-radius: 50%;
//  }
//  100% {
//    -webkit-border-radius: 0px;
//  }
//}
//
//@keyframes borderRadius {
//  0% {
//    -webkit-border-radius: 50%;
//  }
//  100% {
//    border-radius: 0px;
//  }
//}


// Phone size
/*@-webkit-keyframes materia {
  //0% {
  //  //background: gold;
  //}
  //50% {
  //  -webkit-border-radius: 4px;
  //}
  //100% {
  //  width: 440px;
  //  height: 280px;
  //  //background: gold;
  //  -webkit-border-radius: 4px;
  //}
}*/

//@keyframes materia {
//  0% {
//    background: gold;
//  }
//  50% {
//    border-radius: 4px;
//  }
//  100% {
//    width: 40%;
//    height: 30%;
//    border-radius: 10px;
//  }
//}



//@-webkit-keyframes scaleIn {
//  0% {
//    -webkit-transform: scale(0);
//  }
//  100% {
//    -webkit-transform: scale(1);
//  }
//}
//
//@keyframes scaleIn {
//  0% {
//    transform: scale(0);
//  }
//  100% {
//    transform: scale(1);
//  }
//}

//@-webkit-keyframes ripple {
//  0% {
//    transform: scale3d(0, 0, 0);
//  }
//  50%,
//  100% {
//    -webkit-transform: scale3d(1, 1, 1);
//  }
//  100% {
//    opacity: 0;
//  }
//}

//@keyframes ripple {
//  0% {
//    transform: scale3d(0, 0, 0);
//  }
//  50%,
//  100% {
//    transform: scale3d(1, 1, 1);
//  }
//  100% {
//    opacity: 0;
//  }
//}

//@media screen and (min-aspect-ratio: 4/3) {
//  body {
//    background-size: cover;
//    //background: green;
//  }
//  body:before {
//    width: 0;
//  }
////  @-webkit-keyframes puff {
////  0% {
////    top: 100%;
////    width: 0;
////    padding-bottom: 0;
////  }
////  100% {
////    top: 50%;
////    width: 100%;
////    padding-bottom: 100%;
////  }
////}
////  @keyframes puff {
////    0% {
////      top: 100%;
////      width: 0;
////      padding-bottom: 0;
////    }
////    100% {
////      //top: 50%;
////      //width: 100%;
////      border: 1px solid red;
////      padding-bottom: 100%;
////    }
////  }
//}

//@media screen and (min-height: 320px) {
//
//  .profile-card header {
//    //width: auto;
//    //height: auto;
//    font-size: 2vw;
//    padding: 20px 20px;
//    display: block;
//    float: none;
//  }
//  .profile-card h1 {
//    font-size: 3.2vw;
//    border: none;
//  }
//  .profile-card h2 {
//    font-size: 1.7vw;
//    margin-top: -15px;
//    border: none;
//  }
//  .profile-social-links {
//    width: 100%;
//    display: block;
//    float: none;
//  }
////  @-webkit-keyframes materia {
////  0% {
////    //background: gold;
////  }
////  50% {
////    -webkit-border-radius: 4px;
////  }
////  100% {
////    width: 435px;
////    height: 450px;
////    -webkit-border-radius: 4px;
////    border: blueviolet;
////  }
////}
//  @keyframes materia {
//    0% { }
//    50% {
//      border-radius: 4px;
//    }
//    100% {
//      width: 30vw;
//      height: 40vh;
//      border-radius: 2px;
//    }
//  }
//}

/*!**/
/*h2 {*/
/*color: white;*/
/*}*/
/*:root { font-size: 14px; }*/
/*@media (min-width: 350px) { :root { font-size: 16px; } }*/
/*@media (min-width: 640px) { :root { font-size: 28px; } }*/
/*@media (min-width: 1440px) { :root { font-size: 1.25vw; } }*/

/*body {*/
/*background-color: #17202D;*/
/*}*/

/*.fireworks {*/
/*position: absolute;*/
/*top: 0;*/
/*left: 0;*/
/*width: 100%;*/
/*height: 100%;*/
/*}*/

/** {*/
/*margin: 0;*/
/*padding: 0;*/
/*box-sizing: border-box;*/
/*}*/

/*!* SVG LOGO *!*/
/*.dot-container {*/
/*position: relative;*/
/*z-index: 1;*/
/*max-width: 19rem;*/
/*}*/
/*.logo {*/
/*opacity: 1;*/
/*position: relative;*/
/*border: 1px solid red;*/
/*}*/
/*#dot-i1 {*/
/*animation: bounce 1.3s linear;*/
/*}*/
/*@keyframes bounce {*/
/*0% {*/
/*transform: initial;*/
/*}*/
/*30% {*/
/*transform: translateY(-80vh);*/
/*}*/
/*100% {*/
/*transform: translateY(80px);*/
/*}*/
/*}*/
/*#svg{*/
/*animation: App-logo-spin infinite 20s linear;*/
/*height: 40vmin;*/
/*pointer-events: none;*/
/*}*/
/*@keyframes App-logo-spin {*/
/*from {*/
/*transform: rotate(0deg);*/
/*}*/
/*to {*/
/*transform: rotate(360deg);*/
/*}*/
/*}*/
/*.flex-container{*/
/*height: 100vh;*/
/*padding: 0;*/
/*margin: 0;*/
/*display: -webkit-box;*/
/*display: -moz-box;*/
/*display: -ms-flexbox;*/
/*display: -webkit-flex;*/
/*display: flex;*/
/*align-items: center;*/
/*justify-content: center;*/
/*border: 1px solid blue;*/
/*}*/

/*.dot:before{*/
/*content:' ';*/
/*position: absolute;*/
/*z-index:2;*/
/*left:0;*/
/*top:0;*/
/*width:10px;*/
/*height:10px;*/
/*background-color: gold;*/
/*border-radius: 50%;*/
/*}*/

/*.dot:after {*/
/*content:' ';*/
/*position: absolute;*/
/*z-index:1;*/
/*width:10px;*/
/*height:10px;*/
/*background-color: gold;*/
/*border-radius: 50%;*/
/*box-shadow: 0 0 10px rgba(0,0,0,.3) inset;*/
/*-webkit-animation-name:'ripple';!*动画属性名，也就是我们前面keyframes定义的动画名*!*/
/*-webkit-animation-duration: 1s;!*动画持续时间*!*/
/*-webkit-animation-timing-function: ease; !*动画频率，和transition-timing-function是一样的*!*/
/*-webkit-animation-delay: 0s;!*动画延迟时间*!*/
/*-webkit-animation-iteration-count: infinite;!*定义循环资料，infinite为无限次*!*/
/*-webkit-animation-direction: normal;!*定义动画方式*!*/
/*}*/

/*@keyframes ripple {*/
/*0% {*/
/*left:5px;*/
/*top:5px;*/
/*opcity:75;*/
/*width:0;*/
/*height:0;*/
/*}*/
/*100% {*/
/*left:-20px;*/
/*top:-20px;*/
/*opacity: 0;*/
/*width:50px;*/
/*height:50px;*/
/*}*/
/*}*/
/**!*/

/*canvas {*/
/*display: block;*/
/*width: 100vw;*/
/*height: 100vh;*/
/*cursor: none;*/
/*}*/

/*body {*/
/*background-color: #17202D;*/
/*}*/
/*:root { font-size: 14px; }*/
/*@media (min-width: 350px) { :root { font-size: 16px; } }*/
/*@media (min-width: 640px) { :root { font-size: 28px; } }*/
/*@media (min-width: 1440px) { :root { font-size: 1.25vw; } }*/
/*h2 {*/
/*color: white;*/
/*}*/
/** {*/
/*margin: 0;*/
/*padding: 0;*/
/*box-sizing: border-box;*/
/*}*/

/*section {*/
/*position: relative;*/
/*z-index: 1;*/
/*max-width: 19rem;*/
/*}*/

/*!* Logo *!*/

/*.logo {*/
/*opacity: 0;*/
/*position: relative;*/
/*margin-left: -3.5rem;*/
/*margin-top: -8rem;*/
/*margin-bottom: .75rem;*/
/*font-size: 8px;*/
/*}*/

/*body.ready .logo {*/
/*opacity: 1;*/
/*}*/

/*body:not(.iOS) #lines * {*/
/*mix-blend-mode: lighten;*/
/*}*/

/*#fills * {*/
/*opacity: 1;*/
/*mix-blend-mode: lighten;*/
/*}*/

/*#line-i-1 {*/
/*transform-origin: 30em 8em;*/
/*}*/

/*!* Fireworks *!*/

/*.fireworks {*/
/*position: absolute;*/
/*top: 0;*/
/*left: 0;*/
/*width: 100%;*/
/*height: 100%;*/
/*}*/
